div.org-infogrid-web-viewlet-propertysheet-PropertySheetViewlet > table.audit,
div.org-infogrid-web-viewlet-propertysheet-PropertySheetViewlet > table.audit > * > tr > td {
    border-width: 0;
    border-style: none;
}
div.org-infogrid-web-viewlet-propertysheet-PropertySheetViewlet > table.audit > * > tr > td > div.audit {
    border-width: 1px;
    border-style: solid;
    padding: 0 10px;
    margin: 0 0 10px 10px;
}
div.org-infogrid-web-viewlet-propertysheet-PropertySheetViewlet > table.audit > * > tr > td.audit {
    width: 220px;
}

div.org-infogrid-web-viewlet-propertysheet-PropertySheetViewlet div.audit > table {
    width: auto;
}
div.org-infogrid-web-viewlet-propertysheet-PropertySheetViewlet div.audit .label {
    text-align: right;
    font-weight: bold;
    padding-right: 8px;
}

div.org-infogrid-web-viewlet-propertysheet-PropertySheetViewlet > table {
    clear: right;
    margin: 10px 0;
}
div.org-infogrid-web-viewlet-propertysheet-PropertySheetViewlet > table.attributes > * > * > .type {
    width: 10%;
}
div.org-infogrid-web-viewlet-propertysheet-PropertySheetViewlet > table.attributes > * > * > .name {
    width: 45%;
}
div.org-infogrid-web-viewlet-propertysheet-PropertySheetViewlet > table.attributes > * > * > .value {
    width: 45%;
}

div.org-infogrid-web-viewlet-propertysheet-PropertySheetViewlet > table.neighbors > * > * > .role {
    width: 50%;
}
div.org-infogrid-web-viewlet-propertysheet-PropertySheetViewlet > table.neighbors > * > * > .neighbor {
    width: 50%;
}

div.org-infogrid-web-viewlet-propertysheet-PropertySheetViewlet > table > * > tr > .type {
    border-bottom: 0px;
}
div.org-infogrid-web-viewlet-propertysheet-PropertySheetViewlet > table > * > tr > * {
    padding: 5px;
    border-width: 0px 1px;
    border-style: dotted;
}
div.org-infogrid-web-viewlet-propertysheet-PropertySheetViewlet > table > * > tr > td {
    border-width: 1px;
}
div.org-infogrid-web-viewlet-propertysheet-PropertySheetViewlet > table > * > tr > th.entityType {
    text-align: left;
    padding-left: 10%;
}

span.org-infogrid-web-viewlet-propertysheet-PropertySheetViewlet-delete-button:before {
    content: url(bin_closed.png);
}
span.org-infogrid-web-viewlet-propertysheet-PropertySheetViewlet-delete-button > span {
    display: none;
}

span.org-infogrid-web-viewlet-propertysheet-PropertySheetViewlet-bless-button:before {
    content: url(medal_bronze_add.png);
}
span.org-infogrid-web-viewlet-propertysheet-PropertySheetViewlet-bless-button > span {
    display: none;
}

span.org-infogrid-web-viewlet-propertysheet-PropertySheetViewlet-unbless-button:before {
    content: url(medal_bronze_delete.png);
}
span.org-infogrid-web-viewlet-propertysheet-PropertySheetViewlet-unbless-button > span {
    display: none;
}

span.org-infogrid-web-viewlet-propertysheet-PropertySheetViewlet-addneighbor-button:before {
    content: url(link_add.png);
}
span.org-infogrid-web-viewlet-propertysheet-PropertySheetViewlet-addneighbor-button > span {
    display: none;
}

span.org-infogrid-web-viewlet-propertysheet-PropertySheetViewlet-addrole-button:before {
    content: url(medal_silver_add.png);
}
span.org-infogrid-web-viewlet-propertysheet-PropertySheetViewlet-addrole-button > span {
    display: none;
}

span.org-infogrid-web-viewlet-propertysheet-PropertySheetViewlet-deleterole-button:before {
    content: url(medal_silver_delete.png);
}
span.org-infogrid-web-viewlet-propertysheet-PropertySheetViewlet-deleterole-button > span {
    display: none;
}

span.org-infogrid-web-viewlet-propertysheet-PropertySheetViewlet-unrelate-button:before {
    content: url(link_delete.png);
}
span.org-infogrid-web-viewlet-propertysheet-PropertySheetViewlet-unrelate-button > span {
    display: none;
}
